{% extends 'network/layout.html' %}
{% load static %}


{% block body %}
<div>
    <h2>Profile of {{profile.username}}</h2>
    <div class ="main-profile">
        <div class = "info">
            <p>
                <img class = "round-photo"src="{% static 'network/img/41e8311543aba9491257f4d6f455322d.jpeg' %}" alt="" rounded-corners >
                <div class = "form-group">
                    <div>
                        {{following.follower.count}}
                        
                        <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">More info</li>
                        <li class="list-group-item" id = "profile_username">Name: {{profile.username}}</li>
                        <li class="list-group-item">Followers: {{profile.followed.count}}</li>
                        <li class="list-group-item">Following: {{following.following.count}}</li>
                        {% if request.user.is_authenticated %}
                            {% if isFollowed %}
                            <div class ="form-group">
                                <form action="{% url 'core:unfollow' profile.username%}"  method = "POST">
                                    {% csrf_token %}
                                    <button class ="btn btn-danger" id = "follow">Unfollow</button>
                                </form>
                            </div>
                            {% else %}
                            <div class ="form-group">
                                <form action="{% url 'core:follow' profile.username%}" method = "POST">
                                    {% csrf_token %}
                                    <button class ="btn btn-success" id = "follow">Follow</button>
                                </form>
                            </div>
                            {% endif %}
                        {% endif %}
                      </ul>
                    </div>
                </div>
            </p>
        </div>

    </div>


</div>
<script>

    

</script>
{% endblock body %}

